// Dashboard cmp

.order-count {
    font-family: Airbnb_Cereal-Book;    
    font-size: 24px;
    margin-block-end: 5px;
    margin-block-start: 20px;
    padding-inline-start: 10px;
}


// list cmp

.order-list {
    display: grid;
    // grid-template-columns: repeat(7, 1fr);
    grid-template-columns: 1.5fr 1.2fr 1.2fr 2.5fr 1.3fr 1.3fr 2fr;
    padding: 10px;

    p {
        margin: 0;
        // color: $clr2;
        color: #909399;
        // justify-self: center;

        &:first-child {
            justify-self: start;
        }

        &:last-child {
            justify-self: center;
            padding-inline-end: 100px;
        }
    }
}




// preview cmp

.order-preview {
    display: grid;
    // grid-template-columns: repeat(7, 1fr);
    grid-template-columns: 1.5fr 1.2fr 1.2fr 2.5fr 1.3fr 1.3fr 2fr;
    padding: 10px;

    // align-items: center;

    &:hover {
        background-color: darken($clr4, 5%);
        transition: .2s;

    }

    div {
        display: inline-flex;
        align-items: center;

        p {
            padding-inline-start: 7px;
        }
    }

    p {
        margin: 0;
        // color: $clr2;
        color: #606266;
        font-family: Airbnb_Cereal-Book;
        // justify-self: center;
    }

    img {
        width: 30px;
    }

    .btn-container {
        // background-color: #67C23A;
        // justify-self: end;
        // justify-self: center;
    }
    button {
        justify-self: end;
        min-width: 100px;
        padding: 5px 0;
        
        font-size: 14px;
        font-family: Airbnb_Cereal-Medium;
        text-transform: capitalize;
        // text-align: center;
        transition: .3s;
        
        cursor: pointer;
    }

    .pending {
        @include status($clr: #FFA500);
    }
    
    .approve {
        @include status($clr: #67C23A);
    }
    
    .reject {
        @include status($clr: #F56C6C);
    }

    .approve-btn {
        @include status-btn($clr: #67C23A, $percentage: 45%);
        margin-inline-end: 5px;
    }

    .reject-btn {
        @include status-btn($clr: #F56C6C, $percentage: 25%);
        margin-inline-start: 5px;
    }
}