///////////////////////////////////////////////////////////////



.reservation-container {
    position: sticky;
    top: 7rem;
    font-family: Airbnb_Cereal-Book;

    border-radius: rem(12px);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

    padding: rem(24px);
    margin-inline-start: 6rem;

    .reservation-details {
        display: grid;
        grid-auto-flow: row;

        .reservation-header {
            margin-block-end: rem(24px);
            line-height: rem(20px);
            align-items: end;
        }

        .price:first-child {
            font-size: rem(22px);
            font-family: Circular-Medium;
        }

        .price span:last-child {
            color: #717171;
            font-family: Airbnb_Cereal-Book;
            font-size: 1rem;

        }

        .rating span {
            padding: 0 0 0 0.25rem;
            
        }

        .rating :nth-child(2) {
            color: black;
        }

        .rating:last-child {
            color: #717171;
            // font-family: Circular-Medium;
            // font-family: Airbnb_Cereal-Book;

            font-size: rem(14px);
        }

        img {
            width: rem(12px);
        }

        .btn-reserve {
            text-align: center;
            font-family: Circular-Medium;
            color: white;
            border-radius: 0.5rem;
            background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);

            background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);

            padding: 0.8rem;
            margin: 1rem 0;

        }
        .btn-reserve:hover{
            
        }
    }

    .reservation-selection {
        border: 1px solid gray;
        border-radius: 0.5rem;

        .date {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // padding: 26px 12px 10px;
            border-bottom: 1px solid gray;
        }

        .check-in {
            border-inline-end: 1px solid gray;
        }

        .check-in :first-child,
        .check-out :first-child,
        .guest :first-child {
            position: absolute;
            top: 12px;
            left: 12px;
            right: 12px;

            font-family: Circular-Medium;
            font-size: 0.625rem;
        }

        .check-in,
        .check-out,
        .guest {
            position: relative;
            padding: 26px 12px 10px;
        }

        .check-in:hover,
        .check-out:hover,
        .guest-container:hover {
            cursor: pointer;
        }

        img {
            width: 1rem;
            position: relative;
            top: 1.3em;
            right: 1.3rem;

        }
    }

    .guest-list {
        position: absolute;
        top: 200px;
        width: 89%;
        z-index: 999;


        
        background-color: white;
        border-radius: 0.5rem;
        border: 1px solid rgb(221, 221, 221);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
        align-items: center;
        
        padding: 1rem;
    }

    .reservation-pricing {
        
        .summery {
            text-decoration: underline;
        }

        .total {
            font-family: Circular-Medium;
            border-block-start: 1px solid #717171;
            padding: rem(24px) 0 0 0;
            margin-block-start: rem(24px);
        }
    }





}


////////////////////////////////////////////////////////////////