.status-modal {
    position: absolute;
    right: 255px;

    background-color: white;
    // border-radius: rem(12px);
    box-shadow: 0 rem(2px) rem(16px) rgba(0, 0, 0, 0.122);
    flex-direction: column;
    padding-block-end: rem(10px);
    padding-block-start: rem(11px);
    transform: translateY(60px);
    width: rem(210px);
    // z-index: 12;

    .status-option {
        cursor: pointer;
        padding: rem(7px) rem(0px);
        margin: rem(3px) rem(5px);
        text-align: center;

        font-family: Airbnb_Cereal-Book;
        font-size: rem(14px);
    }
}