/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}


@mixin for-large-layout {
    @media (min-width: $large-breakpoint) {
        @content;
    }
}

@mixin for-extra-large-layout {
    @media (min-width: $extra-large-breakpoint) {
        @content;
    }
}

// Mixins for list

@mixin for-narrow-list {
    @media (min-width: calc($narrow-breakpoint - 170px)) {
        @content;
    }
}

@mixin for-normal-list {
    @media (min-width: calc($normal-breakpoint - 10px)) {
        @content;
    }
}

@mixin for-large-list {
    @media (min-width: calc($large-breakpoint - 175px)) {
        @content;
    }
}

@mixin for-extra-large-list {
    @media (min-width: calc($extra-large-breakpoint + 200px)) {
        @content;
    }
}

@mixin for-huge-list {
    @media (min-width: $huge-breakpoint) {
        @content;
    }
}


/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin status-btn($clr, $percentage) {
    background-color: lighten($clr, $percentage);
    color: darken($clr, 5%);
    border: 1px solid $clr;

    &:hover {
        background-color: $clr;
        color: white;
        border: 1px solid $clr;
    }
}

@mixin status($clr) {
    color: $clr;
    text-transform: capitalize;
    font-family: Airbnb_Cereal-Bold;
}